@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.m-activity_details{
  margin-left: 10px;
  margin-top:10px;
  margin-right: 10px;
  .el_form{
    //border-bottom:0.5px solid rgb(207 203 203);
    //padding-bottom: 5px;
  }
}

.m-activity_pc_list_show{
    display: block;
  }
  .m-activity_mobile_list_show{
    display: none;
    border-top:1px solid rgb(235, 238, 245);
    //padding:7px;
  }
@media screen and (max-width:800px) {
  .m-activity_pc_list_show{
    display: none;
  }
  .m-activity_mobile_list_show{
    display: block;
  }
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
        content: "";
        display: block;
        height: 0;
        clear:both;
        visibility: hidden;
    }
    .clearfix{
        *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
    }
.m-dangan{
  width: 1000px;
  *{box-sizing: border-box;}
  .line{
    width: 100%;
    height: 50px;
    border:1px solid #000;
    border-top:none;
    &:first-child{
      border-top: 1px solid #000;
    }
    .ibox{
      display: inline-block;
      width: 166px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      border-left:1px solid #000;
      &:first-child{
        border-left: none;
      }
    }
  }
  .input-text-box{
      border:none;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    }
  .zuoyou{
    clear:both;
    border:1px solid #000;
    border-top:none;
    .delete{
      color:red;
      right:10px;
      top:15px;
      position: absolute;
    }
    .add{
      color:red;
      display: inline-block;
      margin-left: 10px;
    }
    .zuoyou-left{
      float: left;
      width: 166px;
      text-align: center;
      line-height: 50px;
    }
    .zuoyou-right{
      float: right;
      width: 832px;
      .right-line{
        width: 100%;
        height: 50px;
        border-bottom:1px solid #000;
        position: relative;
        //border-left:1px solid #000;
        &:last-child{
          border-bottom: none;
        }
        .bx{
          display: inline-block;
          border-left: 1px solid #000;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 166px;
          //&:first-child{border-left: none;}
        }
        .bx-3{
          width: 498px;
        }
        .bx-2{
          width: 240px;
        }
        .bx-4{
          width: 424px;
        }
        .bx-5{
          width: 550px;
        }
        .ckword{
          margin-left: 8px;
          margin-right: 40px;
        }
      }
      .oneline{
        line-height:50px;
        border-left:1px solid #000;
        padding-left: 20px;
      }
    }
  }
}
.a-jump{
  color:deepskyblue;
  &:hover{
    color:blue;
  }
}
.filter-container{
  margin-bottom:10px;
}
//@media screen and (min-width:480px){
//  .m-activity_pc_list_show{
//    display: none;
//  }
//  .m-activity_mobile_list_show{
//    display: block;
//  }
//}
